FLASK_ENV=development
SECRET_KEY=your-secret-key-change-in-production
JWT_SECRET_KEY=your-jwt-secret-key-change-in-production
DATABASE_URL=mysql+pymysql://root:password@localhost:3306/hostel_food_db
RAZORPAY_KEY_ID=rzp_test_T0gIlM2rKZMBbE
RAZORPAY_KEY_SECRET=GCqCCN2sfXoqAdcMOtMhvXiE
